
@{
    ViewBag.Title = "Register3";
}

<h2>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÝ</h2>

<div>
    <p>Mã sinh viên: @ViewBag.Id</p>
    <p>Họ tên: @ViewBag.Name</p>
    <p>Điểm: @ViewBag.Marks</p>
    <a href="@Url.Action("Index1")">Quay lại</a>
</div>

