
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bài tập thực hành 5 - Phát triển ứng dụng Web</h1>
        <p class="lead">Tạo một Project có tên BaiTap5_23TH2525, thiết kế layout và thực hiện các chức năng theo giao diện như sau</p>
      
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p>
                Trang chủ
                Đăng ký
                Gửi email
                Thay đổi Banner
            </p>
           
        </section>
    </div>
</main>